.grid-container{
    display: grid;
    grid-template-columns:1fr 1fr;
    width: 549.6px;
    height: 636.4px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    background-color: whitesmoke;
    padding: 10px;
    font-size: 16px;
    width: 998px;
    height: 718.4px;
  }
.keypad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    background-color:whitesmoke;
    padding: 5px;
    width: 481px;
    height: 234.9px;
    
}
.key-1{
  background-color: white;
}
.header {
  background: skyblue;
  height: 66.5%;
  padding-top: 2px;
}

  
  